# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
myenv/

# PyTorch
*.pt
*.pth

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# VSCode
.vscode/

# Other files and folders
*.log
.env

# Unfiltered Training Datasets
Unfiltered-datasets/

# New Trained Models
DialoGPT-interviews*/
T5-interviews*/
Llama-2-interviews*/
